---
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro</title>
</head>

<body class="w-3/4 m-auto  h-screen">
	<h1>Astro</h1>


	<div class="flex flex-col">
		<a class="px-2 py-1 mb-2 border-2" href="cards/38913-a-light-in-the-darkness">Carta 1</a>
		<a class="px-2 py-1 border-2" href="cards/72923-queen-azshara">Carta 2</a>
	</div>
</body>

</html>